# Authorization service
JWT_KEYSTORE_PASSWORD=changeit
JWT_KEY_ID=cms-key-1
JWT_KEY_ALIAS=cms-jwt
JWT_ISSUER=http://localhost:9000

# BFF gateway
BFF_CLIENT_ID=cms-bff
BFF_CLIENT_SECRET=cms-bff-secret
AUTH_ISSUER=http://localhost:9000
CMS_RESOURCE_SERVICE_URL=http://localhost:8081
COMMON_SERVICE_URL=http://localhost:8082
BFF_FRONTEND_URL=http://localhost:5173/

# Keep true behind HTTPS. Set false only for local HTTP development.
SESSION_COOKIE_SECURE=true

# Use redis for multi-instance BFF deployments.
SESSION_STORE_TYPE=none
REDIS_HEALTH_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379

# Oracle examples
AUTH_DB_URL=jdbc:oracle:thin:@//localhost:1521/FREEPDB1
AUTH_DB_USERNAME=cms_auth
AUTH_DB_PASSWORD=change-me
AUTH_DB_DRIVER=oracle.jdbc.OracleDriver

CMS_DB_URL=jdbc:oracle:thin:@//localhost:1521/FREEPDB1
CMS_DB_USERNAME=cms_resource
CMS_DB_PASSWORD=change-me
CMS_DB_DRIVER=oracle.jdbc.OracleDriver

COMMON_DB_URL=jdbc:oracle:thin:@//localhost:1521/FREEPDB1
COMMON_DB_USERNAME=cms_common
COMMON_DB_PASSWORD=change-me
COMMON_DB_DRIVER=oracle.jdbc.OracleDriver
